# PROJECT SPECIFIC
uploads
*.pid
__pycache__
*.log
*.db
creation_log
*-swp
*.tmp
*.log
*.bak
*.pid
# ========================================
# Template: shell
# Added: 2026-02-04 22:19:59
# ========================================
logs/
output/
infos/
result/
results/
backup/
*.log
*.zip
*.tar.gz
*.rar
certs/
secrets/
